<section class="services-section">
  <div class="services-grid">

    <div class="service-card">
      <div class="service-icon-wrap">
        <div class="blob"></div>
        <img src="/icons/book.svg" alt="">
      </div>
      <span class="service-label">Kitabxana</span>
    </div>

    <div class="service-card">
      <div class="service-icon-wrap">
        <div class="blob2"></div>
        <img src="/icons/bag.svg" alt="">
      </div>
      <span class="service-label">Karyera və məşğulluq</span>
    </div>

    <div class="service-card">
      <div class="service-icon-wrap">
        <div class="blob"></div>
       <img src="/icons/tv.svg" alt="">
      </div>
      <span class="service-label">Onlayn imtahan</span>
    </div>

    <div class="service-card">
      <div class="service-icon-wrap">
        <div class="blob2"></div>
        <img src="/icons/message.svg" alt="">
      </div>
      <span class="service-label">Onlayn appellyasiya</span>
    </div>

    <div class="service-card">
      <div class="service-icon-wrap">
        <div class="blob"></div>
         <img src="/icons/kontakt.svg" alt="">
      </div>
      <span class="service-label">Elmi - Metodiki Şura</span>
    </div>
    
    <div class="service-card">
      <div class="service-icon-wrap">
        <div class="blob2"></div>
       <img src="/icons/heart.svg" alt="">
      </div>
      <span class="service-label">Könüllü</span>
    </div>

  </div>
</section>
